:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground: #2b2727;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: Public Sans; */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.dark-mode {
  background-color: #222222;
  color: #81A2D2;

}

.custom-text-secondary {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -1%;

}


body.dark-mode .custom-text-secondary {
  color: #C8CED6;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -1%;

}

.custom-text-muted {
  color: #777E90;
  
}

body.dark-mode .custom-text-muted {
  color: rgb(188, 193, 207) ;
  
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* ========= Desktop Navbar Styling =============== */

.custom-nav-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;

}


.text-green {
  color: #08C056;
  
}
.text-green:hover {
  color: #65E69C;
  
}

body.dark-mode .navbar-nav .custom-nav-link {
  color: #81A2D2;

}

body.dark-mode .navbar-nav .text-green {
  color: #08C056;

}

/* ========= Landing Page Styling =============== */

.main-blue {
  color: #2140D4 !important;
  font-weight: 900;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: -1%;


}



.feature-section {
  font-weight: 900;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: -1%;
  text-align: center;
}

.main-purple {
  color: #7737FF;
  font-weight: 900;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: -1%;

}

.info-description {
  color: #7E8186;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -1%;

}

.main-orange {
  color: #FF9900;
  font-weight: 900;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: -1%;


}

.btn-link {
  text-decoration: none;
  /* Removes the underline from button link variants */
}


/* ========= FAQ Styling =============== */

.accordion {
  background-color: #EDEDED;
}


/* hide the defualt accordion button */
.accordion-button::after {
  display: none;
}

.accordion-item {
  border-left: none;
  /*Removes the border from accordion items */
  border-right: none;
  /*Removes the border from accordion items */
  border-top: none;
  background-color: #EDEDED;



}

.accordion-item .accordion-button {
  /* border: none; */
  /* Removes the button's border */
  box-shadow: none;
  /* Removes the default focus outline */
  background-color: #EDEDED;

}

.accordion-button:not(.collapsed) {
  background-color: #EDEDED;
  color: black;
}

.custom-bg-gray {
  background-color: #EDEDED;
  border-radius: 56px;
}

@media (max-width: 768px) {
  .custom-bg-gray {
    border-radius: 0;
    /* Remove rounded edges */
    width: 100vw;
    /* Full width */
    padding-left: 0;
    padding-right: 0;
  }

  .faq .container {
    max-width: 100%;
    /* Override Bootstrap's default margins */
    padding-left: 0;
    padding-right: 0;
  }
}

body.dark-mode .custom-bg-gray {
  background-color: #434343;
}

body.dark-mode .accordion {
  background-color: #434343;
}

body.dark-mode .accordion-item {
  background-color: #434343;
  border-color: #5C5C5C;
}

body.dark-mode .accordion-button:not(.collapsed) {
  background-color: #434343;
  color: #A5A5A5;

}

body.dark-mode .accordion-item .accordion-button {
  background-color: #434343;
  color: #A5A5A5;

}

body.dark-mode .faq-text {
  color: #e2e2e2 ;
}

/* ========= primary button Styling =============== */


.btn-primary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 16px 32px;
  background-color: #08C056;
  border: none;
  border-radius: 32px;
  color: #F7FAFC;
  font-family: 'Public Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  transition: background-color 0.3s ease;
}


.btn-primary:active {
  background-color: #059043;
}

.btn-primary .icon {
  width: 16px;
  height: 16px;
  background: #F7FAFC;
  mask: url('/icons/arrow-forward.svg') no-repeat center;
  -webkit-mask: url('/icons/arrow-forward.svg') no-repeat center;
  mask-size: contain;
  -webkit-mask-size: contain;
  transform: scaleX(-1);
  /* mirror the icon if needed */
}

.btn-primary:hover {
  background-color: #65E69C;
  box-shadow: 0px 0px 8px rgba(101, 229, 156, 0.25);
  color: #07813B;
}

.btn-primary:hover .icon {
  background-color: #07813B;
}

/* ========= primary button 2 Styling =============== */
/* Primary Button 2 Enabled */
.btn-primary-2 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 16px 32px;
  background-color: #2140D4;
  border: none;
  border-radius: 32px;
  color: #F7FAFC;
  font-family: 'Public Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  transition: all 0.3s ease;
}

.btn-primary-2 .icon {
  width: 16px;
  height: 16px;
  background-color: #F7FAFC;
  mask: url('/icons/arrow-forward.svg') no-repeat center;
  -webkit-mask: url('/icons/arrow-forward.svg') no-repeat center;
  mask-size: contain;
  -webkit-mask-size: contain;
  transform: scaleX(-1);
}

/* Primary Button 2 Hovered */
.btn-primary-2:hover {
  background-color: #65BBE6;
  box-shadow: 0px 0px 8px rgba(101, 187, 229, 0.25);
  color: #5A89FF;
}

.btn-primary-2:hover .icon {
  background-color: #5A89FF;
}


/* Secondary Button Enabled */
.btn-secondary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 16px 32px;
  background-color: transparent;
  border: 1px solid #BED0FF;
  border-radius: 32px;
  color: #2140D4;
  font-family: 'Public Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  transition: all 0.3s ease;
}

/* Icon inside the button */
.btn-secondary .icon {
  width: 16px;
  height: 16px;
  background-color: #2140D4;
  mask: url('/icons/arrow-forward.svg') no-repeat center;
  -webkit-mask: url('/icons/arrow-forward.svg') no-repeat center;
  mask-size: contain;
  -webkit-mask-size: contain;
  transform: scaleX(-1);
}

/* Secondary Button Hovered */
.btn-secondary:hover {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 16px 32px;
  background-color: transparent;
  border: 1px solid #65BBE5;
  filter: drop-shadow(0px 0px 8px rgba(101, 187, 229, 0.25));
  border-radius: 32px;
  color: #5A89FF;
  transition: all 0.3s ease;
}

/* Icon inside the button */
.btn-secondary:hover .icon {
  background-color: #5A89FF;
  transform: scaleX(-1);
}

/* ========= Tertiary Button Styling =============== */

/* Tertiary Button Base */
.btn-tertiary {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  gap: 10px;

  width: 223px;
  height: 56px;
  border-radius: 32px;

  font-family: 'Public Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;

  color: #2140D4;
  background: transparent;
  border: none;
  transition: all 0.3s ease-in-out;
  /* Smooth transition for hover effects */
}

/* Hover State */
.btn-tertiary:hover {
  color: #5A89FF;
  filter: drop-shadow(0px 0px 8px rgba(101, 187, 229, 0.25));
  /* Shadow effect */
}

/* Icon Inside Button */
.btn-tertiary .btn-icon {
  width: 16px;
  height: 16px;
  background: #2140D4;
  transform: scaleX(-1);
  /* Mirrors the icon */
  transition: background-color 0.3s ease-in-out;
  /* Icon hover effect */
}

/* Icon Hover State */
.btn-tertiary:hover .btn-icon {
  background: #5A89FF;
  /* Change icon background on hover */
}


/* ========= Image Slider Styling =============== */

/* Adjust the positioning of the control dots */
div.carousel .control-dots {
  bottom: 10px;
  /* Place the dots 10px from the bottom of the carousel */
  width: 100%;
  /* Ensure they span the width of the carousel */
  display: flex;
  justify-content: center;
  /* Center the dots horizontally */
  gap: 2px;
  /* Space between dots (or lines if customized) */
  z-index: 1;
  /* Ensure they're above the image */
}

div.carousel .control-dots .dot {

  width: 30px;
  /* Make them appear as lines */
  height: 5px;
  border-radius: 20px;
  /* Remove circular shape */
  background-color: #575757;
  /* Default color */
  transition: background-color 0.3s ease;
  /* Smooth hover effect */
}

div.carousel .control-dots .dot.selected {
  background-color: #4F81FF;
  /* Highlight the active dot */
  width: 40px;
  /* Make them appear as lines */

}

div.carousel .slider-wrapper {
  margin-bottom: 40px;
  /*Add space  for the dots below the images */

}

/* Add fade-out edges effect to the carousel */
div.carousel .slider-wrapper {
  position: relative;
  /* Ensure proper positioning for the pseudo-element */
  overflow: hidden;
  /* Keep everything confined within the carousel */
}

div.carousel .slider-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 1) 100%);
  z-index: 1;
  /* Place the gradient on top */
  pointer-events: none;
  /* Make sure interactions are still possible */
}

body.dark-mode div.carousel .slider-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgb(34, 34, 34, 1) 0%, rgb(34, 34, 34, 0) 10%, rgb(34, 34, 34, 0) 90%, rgb(34, 34, 34, 1) 100%);
  z-index: 1;
  /* Place the gradient on top */
  pointer-events: none;
  /* Make sure interactions are still possible */
}

/* ========= Call To Action Styling =============== */

.custom-bg-blue {
  background-color: #BED0FF;
  border-radius: 56px;
  /* Default for desktop */
  background-image: url('../public/pattern.png');
  background-blend-mode: multiply;
  min-height: 400px;
}

.title-main-blue {
  color: #2140D4;
}

/* Mobile View: Remove margins and make it full width */
@media (max-width: 768px) {
  .custom-bg-blue {
    border-radius: 0;
    /* Remove rounded edges */
    width: 100vw;
    /* Full width */
    padding-left: 0;
    padding-right: 0;
  }

  .callAction .container {
    max-width: 100%;
    /* Override Bootstrap's default margins */
    padding-left: 0;
    padding-right: 0;
  }
}

body.dark-mode .custom-bg-blue {
  background-color: #292B33;
  border-radius: 56px;
  /* Default for desktop */
  background-image: url('../public/pattern.png');
  min-height: 400px;
  background-blend-mode: soft-light;
}

/* ========= Currencies Styling =============== */

.custom-black-title {
  font-weight: 900;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: -1%;
  color: #23262F;
}

.custom-black-des {
  color: #23262F;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -1%;

}

.custom-black-bold-des {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -1%;

}

.currenciesTable {
  border-radius: 20px;
  background-color: #EDEDED;
  margin: 30px 80px 30px 80px;
  padding: 40px;
}

.currenciesTable .custom-header-text {
  color: #777E90;
}

.currenciesTable .custom-data-text {
  color: #23262F;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0%;

}

.custom-data-text .custom-text-muted {
  color: #777E90;
  
}

@media (max-width: 768px) {
  .currenciesPage .currenciesTable {
    border-radius: 0;
    margin: 0;
  }

  .currenciesTable .container {

    max-width: 100%;
    /* Override Bootstrap's default margins */
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
  }

  body.dark-mode .currenciesPage .currenciesTable {
    border-radius: 0;
    margin: 0;
  }

  body.dark-mode .currenciesTable .container {

    max-width: 100%;
    /* Override Bootstrap's default margins */
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
  }
}

body.dark-mode .currenciesTable {
  border-radius: 20px;
  background-color: #434343;
  margin: 30px 80px 30px 80px;
  padding: 40px;
}

body.dark-mode .currenciesTable .custom-header-text {
  color: #C8CED6;

}

body.dark-mode .currenciesTable .custom-data-text {
  color: #e0e7f0;

}

body.dark-mode .custom-data-text .custom-text-muted {
  color: #b1bad1;
  
}
/* ========= Table Styling =============== */
.custom-table-bg {
  background-color: none;
  color: white;
}


.custom-table-bg thead,
.custom-table-bg tbody,
.custom-table-bg tr,
.custom-table-bg td,
.custom-table-bg th {
  background-color: transparent;
  color: black;
}

/* ========= Desktop Footer Styling =============== */

.custom-footer {
  color: #4C5D77;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;

}