.fullscreenMenuLight {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 1050;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  transform: translateY(-100%);
  pointer-events: none;
  background: linear-gradient(180deg, #FAFBFF 0%,  #EDEDED);
}
.fullscreenMenuDark {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 1050;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  transform: translateY(-100%);
  pointer-events: none;
  background: linear-gradient(180deg, #000000 0%,  #000000);
}
/* This class makes the menu visible */
.fullscreenMenuLight.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.fullscreenMenuDark.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.navLink {
  display: block;
  padding: 1rem 0;
  text-decoration: none;
  color: #4C5D77;
  transition: color 0.2s ease;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}

.green {
  color: #08C056;
}

.fullscreenMenuDark .navLink {
  color: #FAFBFF;
}
.fullscreenMenuDark .green {
  color: #08C056;
}
.navLink:hover {
  color: gray;
}
